@media (min-width: 768px) {
    html {
        font-size: 24px
    }
}
@media (min-width: 1024px) {
    html {
        font-size: 32px
    }
}


/*>=1024的设备*/

@media (min-width: 1100px) {
    html {
        font-size: 34.375px
    }
}


/*>=1100的设备*/

@media (min-width: 1280px) {
    html {
        font-size: 40px;
    }
}


/*>=1280的设备*/

@media (min-width: 1366px) {
    html {
        font-size: 42.6875px;
    }
}

@media (min-width: 1440px) {
    html {
        font-size: 45px;
    }
}

@media (min-width: 1680px) {
    html {
        font-size: 52.5px;
    }
}

@media (min-width: 1920px) {
    html {
        font-size: 60px;
    }
}

body{
    min-width:1200px;
}

/*滚动条挤出模板*/
.all_contain{
    width:102%;
    overflow:hidden;
    overflow-y:auto;
    height:100%
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {   
 /* WebKit browsers */   
color: #dcdfe6;   
}   
input:-moz-placeholder, textarea:-moz-placeholder {   
/* Mozilla Firefox 4 to 18 */   
color: #dcdfe6;   
}   
input::-moz-placeholder, textarea::-moz-placeholder {   
 /* Mozilla Firefox 19+ */   
color: #dcdfe6;   
}   
input:-ms-input-placeholder, textarea:-ms-input-placeholder {   
 /* Internet Explorer 9+ */
color: #dcdfe6!important;
}

.el-radio-button__orig-radio:checked+.el-radio-button__inner{
    background-color:#84A1E5!important;
    border-color: #84A1E5!important;
    box-shadow: -1px 0 0 0 #84A1E5!important
}

.el-table__header,.el-table__body{
    width:100%!important;
}

.el-date-table td.end-date span, .el-date-table td.start-date span{
    background: #84a1e5!important;
}

.el-date-table td.today span{
    color:#84a1e5
}

.el-date-table td.available:hover{
    color:#84a1e5!important;
}

.el-button--primary{
    background: #84a1e5!important;
    border-color:#84a1e5!important;
}

.el-pagination__editor.el-input .el-input__inner{
    height:24px!important;
}

.el-input__inner::-ms-clear { 
   display: none; 
   width: 0; 
   height: 0; 
} 
.footer{
    /* width:100%;
    position:absolute;
    bottom:-80px; */
    text-align: center;
}